<?xml version="1.0"?>

<model>
  <name>kvcr</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Levin jeejan</name>
    <email>levinjeejan@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    kvcr
  </description>
</model>
